<div class="as-search-wrapper" role="main">
    <div class="as-navtuck-wrapper">
        <div class="as-l-fullwidth  as-navtuck" data-events="event52">
            <div>
                <div class="pd-billboard pd-category-header">
                    <div class="pd-l-plate-scale">
                        <div class="pd-billboard-background">
                            <img src="./assets/music-audio-alp-201709" alt="" width="1440" height="320"
                                data-scale-params-2="wid=2880&amp;hei=640&amp;fmt=jpeg&amp;qlt=95&amp;op_usm=0.5,0.5&amp;.v=1503948581306"
                                class="pd-billboard-hero ir">
                        </div>
                        <div class="pd-billboard-info">
                            <h1 class="pd-billboard-header pd-util-compact-small-18">Tienda e-commerce</h1>
                        </div>
                        
                    </div>
                    <h1>Tu pago se ha realizado exitosamente </h1>
                     <p class="mb-5">
                    collection_id:{{collection_id}} <br>
                    collection_status:{{collection_status}} <br>
                    payment_id:{{payment_id}}<br>
                    status:{{status}}<br>
                    external_reference:{{external_reference}}<br>
                    payment_type:{{payment_type}}<br>
                    merchant_order_id:{{merchant_order_id}}<br>
                    preference_id:{{preference_id}}<br>
                    site_id:{{site_id}}<br>
                    processing_mode:{{processing_mode}}<br>
                    merchant_account_id: {{merchant_account_id}}<br>
                </p>
                    <a href="/" class="btn btn-md btn-info">
                    Volver
                </a>
                
                </div>
            </div>
        </div>
    </div>

